@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	display:block;
}

.stars {
	z-index:0;
}

.twinkling{
	z-index:1;
	animation:move-twink-back 200s linear infinite;
}