.ScheduleSummary {
	color: white;
	width: 80vw;
	border: 1px solid white;
}

.ScheduleSummary th {
	padding: 1rem;
	border: 1px solid white;
	gap: 2rem;
	text-align: center;
}

.ScheduleSummary td {
	border: 1px solid white;
	padding: 10px;
	word-break: break-all;
}

@media only screen and (max-width: 800px) {
	.ScheduleSummary {
		font-size: 0.8rem;
		width: 100%;
	}

	.ScheduleSummary td {
		padding: 5px;
	}

}


@media only screen and (max-width: 600px) {
	.ScheduleSummary {
		font-size: 0.6rem;
	}

	.ScheduleSummary td,
	.ScheduleSummary th {
		padding: 0;
	}

}