.Main {
	display: flex;
}

.Section {
	width: 50%;
	min-height: calc(100vh - 4rem);
	padding: 0.5rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 2rem;
}

.SubjectCounterSection {
	display: none;
}

/* Phone Large */
@media only screen and (max-width: 750px) {
	.Main {
		flex-direction: column;
	}

	.Section {
		width: 100%;
	}

	.SubjectCounterSection {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;
	}
	
	.SubjectCounterSection .BeesCounter {
		margin-right: 2rem;
	}
	
	.SubjectCounterSection .BeesCounterIcon {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 590px) {
	.SubjectCounterSection .BeesCounterIcon {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 460px) {
	.SubjectCounterSection .BeesCounterIcon {
		font-size: 1rem;
	}
}