.Subject {
	display: flex;
	align-items: center;
	cursor: pointer;

	border: 1px solid #2B4E86;
	border-radius: 10px;
	margin-bottom: 1rem;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
														supported by Chrome and Opera */

	opacity: 0.7;
	transition: all 300ms ease-in-out;
}

.Subject.Selected {
	background-color: #001E6C;
	color: white;
	opacity: 1;
	animation: pop;
	animation-duration: 0.5s;
}

.Subject.Selected .SubjectIcon {
	opacity: 1;
}

.Subject:hover {
	transform: scale(1.03);
}

.Subject:hover:not(.Selected):not(.Error) {
	background-color: #2B4E86;
	color: white;
	opacity: 1;
}


.SubjectIcon {
	margin: 0 1rem;
	font-size: 2rem;
	opacity: 0.3;
	transition: opacity 300ms ease-in-out;
}

.SubjectP {
	font-size: 1rem;
}

.Subject.Error {
  outline: 0;
	opacity: 1;
  border-color: #EB5353;
	background-color: #EB5353;
  animation-name: bounce;
  animation-duration: .5s;
}


@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

@media only screen and (max-width: 750px) {
	.SubjectP {
		font-size: 0.8rem;
	}
	.SubjectIcon {
		font-size: 1.6rem;
	}
}