.Preview {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.PreviewButtonSection button:first-child {
	margin-right: 5rem;
}

.PreviewButtonSection button:not(:first-child) {
	border-image: linear-gradient(to bottom right, #fd1892 0%, #b827fc 25%, #2c90fc 50%, #b8fd33 75%, #fec837 100%);
  border-image-slice: 1;
	outline-width: 0;
}

.previewText {
	color: white;
	margin-top: 2rem;
}




@media screen and (max-width: 700px) {
	.previewText {
		font-size: 1rem;
	}
}


@media screen and (max-width: 400px) {
	.PreviewButtonSection button:first-child {
		margin-right: 1rem;
	}
}