.ScheduleCounterSection {
  margin: 3rem auto;
  text-align: center;
}
.ScheduleCounterSection > .ScheduleSectionText {
  display: inline-block;
  position: relative;
  padding: 1rem 3rem;
  transform: translate(4px, -0.5rem);
  text-transform: uppercase;
  perspective: 10rem;
}
.ScheduleCounterSection > .ScheduleSectionText:first-of-type {
  padding-left: 4rem;
  transform: translate(-11px, -0.5rem);
}
.ScheduleCounterSection > .ScheduleSectionText:first-of-type::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(10deg) translateX(calc(2rem - 2px));
  z-index: -1;
  background: #ffffff;
}
.ScheduleCounterSection > .ScheduleSectionText:last-of-type {
  padding-right: 4rem;
}
.ScheduleCounterSection > .ScheduleSectionText:last-of-type::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-10deg) translateX(calc(-1rem - 6px));
  z-index: -1;
  background: #ffffff;
}
.ScheduleCounterSection > .ScheduleSectionCounter {
  display: inline-block;
  position: relative;
  padding: 0.5rem 2rem;
}
.ScheduleCounterSection > .ScheduleSectionCounter > .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #170F1E;
  border-radius: 0.7rem;
}
.ScheduleCounterSection > .ScheduleSectionCounter > .background::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: -1;
  border-radius: 1rem;
  border: solid #ffffff 4px;
  background: #170F1E;
}
.ScheduleCounterSection > .ScheduleSectionCounter > .background::after {
  content: '';
  width: 80%;
  padding-top: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid #fff 4px;
  background: #170F1E;
}
.ScheduleCounterSection > .ScheduleSectionCounter > .ScheduleNumber {
  position: relative;
  display: inline-block;
  z-index: 11;
  transform: translateY(-2px);
  color: #ffffff;
}
.ScheduleCounterSection > .ScheduleSectionCounter > .ScheduleNumber:first-of-type {
  font-size: 2rem;
}
.ScheduleCounterSection > .ScheduleSectionCounter > .ScheduleNumber:first-of-type::after {
  content: '/';
  display: inline-block;
  padding: 0 0.2rem;
  font-size: 2.5rem;
}
.ScheduleCounterSection > .ScheduleSectionCounter > .ScheduleNumber:last-of-type {
  font-size: 1rem;
  transform: translateY(-0.8rem) translateX(-0.2rem);
}

.ScheduleSectionText {
	cursor: pointer;
}


@media screen and (max-width: 600px) {
	.ScheduleCounterSection > .ScheduleSectionText:first-of-type {
		padding: 1rem;
		margin: 0;
		margin-right: 0.5rem;
		transform: translate(0, -0.5rem);
	}
	.ScheduleCounterSection > .ScheduleSectionText:last-of-type {
		padding: 1rem;
		margin: 0;
		transform: translate(0, -0.5rem);
		margin-left: 0.5rem;
	}
  .ScheduleCounterSection > .ScheduleSectionText {
    background-color: white;
		border-radius: 5px;

  }

	.ScheduleCounterSection > .ScheduleSectionText:last-of-type::after {
		display: none;
		transform: rotateY(-10deg) translateX(-20%);
	}

	.ScheduleCounterSection > .ScheduleSectionText:first-of-type::before {
		display: none;
		transform: rotateY(10deg) translateX(20%);

	}

}

@media screen and (max-width: 408px) {
	.ScheduleCounterSection > .ScheduleSectionCounter > .ScheduleNumber:first-of-type {
    font-size: 1rem;
	}

	.ScheduleCounterSection > .ScheduleSectionCounter > .ScheduleNumber:first-of-type::after {
		font-size: 1rem;

	}

	.ScheduleCounterSection > .ScheduleSectionCounter > .ScheduleNumber:last-of-type {
    font-size: 1rem;
    transform: translateY(0) translateX(-0.2rem);
	}

	.ScheduleCounterSection > .ScheduleSectionText:first-of-type {
    padding: 0.5rem;
		font-size: 0.7rem;
	}

	.ScheduleCounterSection > .ScheduleSectionText:last-of-type {
    padding: 0.5rem;
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 300px) {
	.ScheduleCounterSection > .ScheduleSectionCounter {
    padding: 0.2rem 1rem;
	}

	.ScheduleCounterSection > .ScheduleSectionText:first-of-type {
    padding: 0.1rem;
	}

	.ScheduleCounterSection > .ScheduleSectionText:last-of-type {
    padding: 0.1rem;
	}
}