.MakeSchedulesBtn {
	margin: 1rem;
	padding: 1rem;
	font-weight: bold;
	color: white;
	border: none;
	font-size: 2rem;
	background-color: #FFC900;
	border-radius: 10px;
	cursor: pointer;

	transition: all 300ms ease-in-out;
}

.MakeSchedulesBtn:hover {
	transform: scale(1.03);
}

@media only screen and (max-width: 750px) {
	.MakeSchedulesBtn {
		padding: 0.8rem;
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 400px) {
	.MakeSchedulesBtn {
		font-size: 1.4rem;
	}
}

.LoadingIcon {
	animation-name: rotating;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	transition: all 300ms ease-in;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}