.SubjectListItemBox {
	padding: 1rem;
	margin: 0.5rem;
	border: 4px solid #fff;
	cursor: pointer;
	transform: scale(1);
	transition: all 200ms ease-in-out;
	min-width: 500px;
	transform: skew(-10deg);
	text-align: center;
}

.SubjectListItemBox.selected {
	border: 4px solid #68B984;
	color: #68B984;
	font-weight: bold;
}

.SubjectListItem {
	cursor: pointer;
	transform: scale(1);
	transition: all 200ms ease-in-out;
	min-width: 500px;
	transform: skew(10deg);
}


.SubjectListItemBox:hover {
	/* transform: scale(1.1);
	border-image: linear-gradient(to bottom right, #fd1892 0%, #b827fc 25%, #2c90fc 50%, #b8fd33 75%, #fec837 100%);
  border-image-slice: 1;

	
	filter: drop-shadow(rgba(255, 215, 77, 0.6) -0.1px -0.1px 0.5px) drop-shadow(rgba(124, 127, 255, 0.6) 0.1px 0.1px 0.5px);
	
	transform: skew(-10deg); */

	border: 4.5px solid #fff;
}

.SubjectListItemBox:hover.selected {
	border: 4.5px solid #68B984;
}


.SubjectListItemBox:hover .SubjectListItem {
	transform: scale(1.03);
	font-weight: bold;
	/* background-image: linear-gradient(to left, #b827fc 0%, #fd1892 25%, #2c90fc 50%, #fec837 75%, #b8fd33 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(rgba(255, 215, 77, 0.6) -0.1px -0.1px 0.5px) drop-shadow(rgba(124, 127, 255, 0.6) 0.1px 0.1px 0.5px); */
	transform: skew(10deg);
}

@media only screen and (max-width: 550px) {
	.SubjectListItemBox {
		padding: 0.5rem;
		margin: 0.3rem;
		min-width: 0;	
		width: 80vw;
	}
	
	.SubjectListItem {
		min-width: 0;
	}
}
