@media only screen and (max-width: 750px) {
	.timeSlots li::after {
		width: 85vw;
	}
	.CalendarContainer {
		width: 100%;
	}
	.timeSlots {
		align-items: flex-end;
	}
	.timeSlots li {
		padding: 0 0.1rem 0 0;
	}
}


@media only screen and (max-width: 500px) {
	.ScheduleSummary th, .ScheduleSummary td {
		font-size: 0.6rem;
		height: 2rem;
		width: 5rem;
	}
}

@media only screen and (max-width: 400px) {
	.ScheduleSummary th, .ScheduleSummary td {
		font-size: 0.5rem;
		height: 2rem;
		width: 5rem;
	}
}

@media only screen and (max-width: 320px) {
	.ScheduleSummary th, .ScheduleSummary td {
		font-size: 0.4rem;
		height: 2rem;
		width: 5rem;
	}
}