@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
	padding: 0;
  font-family: 'Poppins', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: #b4ff39;
	color: #170f1e;
}


html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #170F1E 100%);
  overflow: hidden;
}