.ProfessorsView {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.ProfessorsViewButtonSection button:first-child {
	margin-right: 5rem;
}

.ProfessorsViewButtonSection button:not(:first-child) {
	border-image: linear-gradient(to bottom right, #fd1892 0%, #b827fc 25%, #2c90fc 50%, #b8fd33 75%, #fec837 100%);
  border-image-slice: 1;
	outline-width: 0;
}

.ProfessorsViewText {
	color: white;
	font-size: 1.2rem;
	font-weight: 400;
	width: 80vw;
	text-align: center;
	margin-top: 1.5rem;
}